{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 mx-auto mb-3">
        <h2>About</h2>
        <hr />
        <p>Welcome to GT Movies Store, a web application designed to bring the experience of browsing and purchasing movies online.
        This project was built as part of my coursework at Georgia Tech, showcasing the process of designing, developing, and deploying
        a full-stack application with Django.</p>
      </div>
      <div class="col-md-6 mx-auto mb-3 text-center">
        <img src="{% static 'img/about.jpg' %}" class="max-width-100" alt="about" />
      </div>
    </div>
  </div>
</div>
{% endblock content %}